<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  padding: 14px 40px;
  cursor: pointer;
border-radius: 2px;
}
</style>

<h2>Todo List</h2>
<br>
<table class="table  table-hover table-success">
    <thead class="thead-dark">
        <tr class="bg-success">
            <th scope="col">Task Name</th>
            <th scope="col">Task Description</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.taskName}}</td>
            <td>{{this.taskDesc}}</td>
            <td><a href="/edit/{{this._id}}"><i class="fas fa-edit"></i></a></td>
            <td><a href="/delete/{{this._id}}" ><i class="fas fa-trash-alt"></i></a>
        </tr>
{{/each}}
    </tbody>

    
   
</table>
 <a href="/" class="button">ADD</a>
